{% extends 'athena_templates/base.html' %}
{% load static %}
{% block title %}注册{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            {% if msg %}
                <div class="alert alert-warning">{{ msg }}</div>
            {% endif %}
          <form class='form-login' action="{% url 'register' %}" method="post">
              {% csrf_token %}
              <h2 class="text-center">注册新用户</h2>
              {{ register_from }}
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div>
{% endblock %}