{% extends 'athena_templates/base.html' %}
{% load static %}
{% block title %}登录{% endblock %}

{% block content %}

    <div class="container">
        <div class="form-group col-md-3 col-md-offset-1">
            <label for="start_date">开始日期</label>
            <input type="text" name="start_date" class="form-control" id="start_date" placeholder="开始日期" required="required">
        </div>
        <div class="form-group col-md-3">
            <label for="end_date">结束日期</label>
            <input type="text" name="end_date" class="form-control" id="end_date" placeholder="结束日期" required="required">
        </div>
        <div class="form-group col-md-3">
            <label for="code">代码</label>
            <input type="number" name="code" class="form-control" id="findCode" placeholder="代码" required="required">
        </div>
        <button type="button" onclick="findBtnClick()" class="btn btn-success col-md-1 col-md-offset-1" name="find" id="find">查询</button>
    </div>
    {% csrf_token %}
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-10 col-md-offset-1">
                <div class="table-responsive">
                    <div id="toolbar" class="toolbar" style="visibility: hidden">
                        <button type="button" class="btn btn-primary" id="addButton" data-toggle="modal"  onclick="addBtnClick()">增加</button>
                        <button type="button" class="btn btn-primary" id="delButton" onclick="delBtnClick()">删除</button>
                        <button type="button" class="btn btn-primary" id="editButton" onclick="updateBtnClick()">更新</button>
                    </div>
                    <table class="table table-bordered" id="stockTable" data-pagination="true" data-show-refresh="true" data-show-toggle="true" data-showColumns="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="addDataLable">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addDataLabel">增加数据</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="addStockForm">
                        <div class="form-group">
                            <label for="code">代码</label>
                            <input type="text" class="form-control" id="code" name="code" placeholder="请输入代码cn_开头" required="required">
                        </div>
                        <div class="form-group">
                            <label for="date">交易日期</label>
                            <input type="text" class="form-control" id="date" name="date" placeholder="请输入交易日期" required="required">
                        </div>
                        <div class="form-group">
                            <label for="open">开盘价</label>
                            <input type="number" class="form-control" id="open" name="open" placeholder="请输入开盘价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="close">收盘价</label>
                            <input type="number" class="form-control" id="close" name="close" placeholder="请输入收盘价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="zhang_die">涨跌</label>
                            <input type="number" class="form-control" id="zhang_die" name="zhang_die" placeholder="请输入涨跌" required="required">
                        </div>
                        <div class="form-group">
                            <label for="zhang_die_fu">涨跌幅%</label>
                            <input type="text" class="form-control" id="zhang_die_fu" name="zhang_die_fu" placeholder="请输入涨跌幅" required="required">
                        </div>
                        <div class="form-group">
                            <label for="highest">最高价</label>
                            <input type="number" class="form-control" id="highest" name="highest" placeholder="最高价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="lowest">最低价</label>
                            <input type="number" class="form-control" id="lowest" name="lowest" placeholder="最低价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="cheng_jiao_liang">成交量</label>
                            <input type="number" class="form-control" id="cheng_jiao_liang" name="cheng_jiao_liang" placeholder="成交量" required="required">
                        </div>
                        <div class="form-group">
                            <label for="cheng_jiao_e">成交额（万元）</label>
                            <input type="number" class="form-control" id="cheng_jiao_e" name="cheng_jiao_e" placeholder="成交额" required="required">
                        </div>
                        <div class="form-group">
                            <label for="huan_shou_lv">换手率%</label>
                            <input type="text" class="form-control" id="huan_shou_lv" name="huan_shou_lv" placeholder="换手率%" required="required">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveBtn" onclick="saveBtnClick()">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/stock/stock.js"></script>
{% endblock %}
