<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>股票查询页面</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.4.1-dist/css/jquery.datetimepicker.css"%}">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/static/bootstrap-3.4.1-dist/js/jquery-1.12.4.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap-table.min.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap-table-zh-CN.min.js"></script>
    <link href="/static/bootstrap-3.4.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-3.4.1-dist/css/bootstrap-table.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <script src="/static/bootstrap-3.4.1-dist/js/FileSaver.min.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/xlsx.core.min.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/tableExport.min.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap-table-export.js"></script>
    <script src="{% static "bootstrap-3.4.1-dist/js/jquery.datetimepicker.full.min.js" %}"></script>
</head>
<body>
    <div class="container">
        <div class="form-group col-md-3 col-md-offset-1">
            <label for="start_date">开始日期</label>
            <input type="text" name="start_date" class="form-control" id="start_date" placeholder="开始日期" required="required">
        </div>
        <div class="form-group col-md-3">
            <label for="end_date">结束日期</label>
            <input type="text" name="end_date" class="form-control" id="end_date" placeholder="结束日期" required="required">
        </div>
        <div class="form-group col-md-3">
            <label for="code">代码</label>
            <input type="number" name="code" class="form-control" id="findCode" placeholder="代码" required="required">
        </div>
        <button type="button" onclick="findBtnClick()" class="btn btn-success col-md-1 col-md-offset-1" name="find" id="find">查询</button>
    </div>
    {% csrf_token %}
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-md-10 col-md-offset-1">
                <div class="table-responsive">
                    <div id="toolbar" class="toolbar" style="visibility: hidden">
                        <button type="button" class="btn btn-primary" id="addButton" data-toggle="modal"  onclick="addBtnClick()">增加</button>
                        <button type="button" class="btn btn-primary" id="delButton" onclick="delBtnClick()">删除</button>
                        <button type="button" class="btn btn-primary" id="editButton" onclick="updateBtnClick()">更新</button>
                    </div>
                    <table class="table table-bordered" id="stockTable" data-pagination="true" data-show-refresh="true" data-show-toggle="true" data-showColumns="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="addDataLable">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addDataLabel">增加数据</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="addStockForm">
                        <div class="form-group">
                            <label for="code">代码</label>
                            <input type="text" class="form-control" id="code" name="code" placeholder="请输入代码cn_开头" required="required">
                        </div>
                        <div class="form-group">
                            <label for="date">交易日期</label>
                            <input type="text" class="form-control" id="date" name="date" placeholder="请输入交易日期" required="required">
                        </div>
                        <div class="form-group">
                            <label for="open">开盘价</label>
                            <input type="number" class="form-control" id="open" name="open" placeholder="请输入开盘价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="close">收盘价</label>
                            <input type="number" class="form-control" id="close" name="close" placeholder="请输入收盘价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="zhang_die">涨跌</label>
                            <input type="number" class="form-control" id="zhang_die" name="zhang_die" placeholder="请输入涨跌" required="required">
                        </div>
                        <div class="form-group">
                            <label for="zhang_die_fu">涨跌幅%</label>
                            <input type="text" class="form-control" id="zhang_die_fu" name="zhang_die_fu" placeholder="请输入涨跌幅" required="required">
                        </div>
                        <div class="form-group">
                            <label for="highest">最高价</label>
                            <input type="number" class="form-control" id="highest" name="highest" placeholder="最高价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="lowest">最低价</label>
                            <input type="number" class="form-control" id="lowest" name="lowest" placeholder="最低价" required="required">
                        </div>
                        <div class="form-group">
                            <label for="cheng_jiao_liang">成交量</label>
                            <input type="number" class="form-control" id="cheng_jiao_liang" name="cheng_jiao_liang" placeholder="成交量" required="required">
                        </div>
                        <div class="form-group">
                            <label for="cheng_jiao_e">成交额（万元）</label>
                            <input type="number" class="form-control" id="cheng_jiao_e" name="cheng_jiao_e" placeholder="成交额" required="required">
                        </div>
                        <div class="form-group">
                            <label for="huan_shou_lv">换手率%</label>
                            <input type="text" class="form-control" id="huan_shou_lv" name="huan_shou_lv" placeholder="换手率%" required="required">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveBtn" onclick="saveBtnClick()">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/bootstrap-3.4.1-dist/js/stock/stock.js">
</script>
</html>
